$col-grey:#484848;
$col-text: #e1e0e2;
$col-bg-prices: #e1e0e296;
$col-bg-menu: #838080;
$col-bg-form: #5151519c;
$col-white: white;
$col-bg-tel: rgba(255, 255, 255, 0.15);
$col-txt-h3: #515151c0;
$col-section-txt: #555555;
$col-black: black;
$col-banner:#D1D3D4;
$col-gradient: linear-gradient(90deg, rgba(230,235,239,1) 0%, rgba(228,233,237,1) 45%);
$col-bg: #E5E5E5;
