
@import 'colors';

section.cennik{
    width: 100%;
    max-height: calc(100vh - 220px);
    overflow: hidden;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 5% 90% 5%;
    @media(max-width:1400px){
        grid-template-columns: 20% 60% 20%; 
    }
    @media(max-width:1080px){
        overflow: visible;
        grid-template-rows: 5% 1fr 5%;
    }
    @media(max-width:820px){
        overflow: hidden;
        max-height: calc(100vh - 420px);
    }
    @media(max-width:768px){
      
        max-height: calc(100vh - 220px);
    }
    @media(max-width:576px){
        grid-template-columns: 10% 80% 10%;
        overflow: visible;
        max-height: calc(100vh);
    }
    @media screen and (max-width: 1024px), 
       screen and (max-height: 800px) {
            max-height: 100vh;
}
    
    .banner{
        grid-column: 1/4;
        grid-row: 1/4;
        height: 100%;
        width: 100%;
        min-height: 700px;
        @media(max-width:576px){
            min-height: 600px;
            overflow: hidden;
        }
        &__desktop{
            width: 100%;
            @media(max-width:1380px){
                height: 100%;
            }
            @media(max-width:820px){
                display: none;
            }
           
        }
        &__mobile{
            display: none;
            @media(max-width:820px){
                display: block;
                width: 100%;
            }
           
            @media(max-width:430px){
                height: 100%;
                width: auto;
              
            }
        }
    }
    
    .container{
        flex-basis: 20%;
        grid-column: 2/3;
        grid-row: 2/3;
        width: 100%;
        height: 94%;
        z-index: 15;
        background-color: $col-bg-prices;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        max-width: 100%;
        @media(max-width:820px){
            justify-content: center;
            padding-bottom: 0px;
        }
        @media(max-width:576px){
            height: 100%;
       
        }
        .prices{
            flex-basis: 80%;
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;
            width: 80%;
            &__wrapper{
            margin: 20px 0;
            display: flex;
            flex-direction: column;
            width: 100%;
            &__item{
                align-self: center;
                @media(max-width:576px){
                    align-self: flex-start;
                }
                h3{
                    margin: 0;
                }
            }
            &__price{
                display: flex;
                flex-direction: column;
                &--price{
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    p{
                        margin: 0;
                        line-height: 130%;
                    }
                   
                }
                
            }
            }

        }
    }
}